/* stylelint-disable */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

.logo {
  align-items: center;
  color: whitesmoke;
  display: flex;
  font-size: 30px;

  h1 {
    font-family: Roboto Slab, serif;
    margin: 0;
  }

  img {
    margin-right: 10px;
    margin-top: 5px;
    width: 40px;
  }
}
