.Content {
  margin: 0 auto;
  max-width: $max-width-container;
  padding-top: 40px;
}

.ContainerDataTable {
  margin-top: 40px;
  min-height: 480px;
}

.ContainerDataTableLoad {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  min-height: 480px;
}

.ContentLoad {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 50vh;

  h1 {
    color: $primary-color;
  }
}
